.App {
  text-align: center;
}
body{
  background-color: azure;
}
.container{
  margin-top: 100px;
  border: 2px solid black;
}
.container input{
  border-radius: 7px;
  margin: 10px;
  padding: 5px;
}
#height{
  margin-left: 47px;
}
.con{
  margin-left: 50px;
}

.center{
  margin-left: 78px;
}